In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../../data/BPI_Challenge_2017.csv')

In [3]:
df.head(5)

,Action,org:resource,concept:name,EventOrigin,EventID,lifecycle:transition,time:timestamp,case:LoanGoal,case:ApplicationType,case:concept:name,case:RequestedAmount,FirstWithdrawalAmount,NumberOfTerms,Accepted,MonthlyCost,Selected,CreditScore,OfferedAmount,OfferID
0,Created,User_1,A_Create Application,Application,Application_652823628,complete,2016-01-01 09:51:15.304,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,statechange,User_1,A_Submitted,Application,ApplState_1582051990,complete,2016-01-01 09:51:15.352,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Created,User_1,W_Handle leads,Workflow,Workitem_1298499574,schedule,2016-01-01 09:51:15.774,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Deleted,User_1,W_Handle leads,Workflow,Workitem_1673366067,withdraw,2016-01-01 09:52:36.392,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Created,User_1,W_Complete application,Workflow,Workitem_1493664571,schedule,2016-01-01 09:52:36.403,Existing loan takeover,New credit,Application_652823628,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
week_df = pd.read_csv('../../../data/weeks.csv')

In [48]:
week_df.head()

   Unnamed: 0  Week                                             Traces
0           0     1  ['Application_652823628', 'Application_1691306...
1           1     2  ['Application_652823628', 'Application_4284097...
2           2     3  ['Application_619403287', 'Application_7589856...
3           3     4  ['Application_1746793196', 'Application_108588...
4           4     5  ['Application_828200680', 'Application_1710223...

In [130]:
def check(case_id, week):
    lst = week_df[week_df['Week'] == week]['Traces'].explode()
    for x in lst:
        mylist = ast.literal_eval(x)
    for c in mylist:
        if c == case_id:
            return True
    return False

In [120]:
lst = week_df[week_df['Week'] == 3]['Traces'].explode()

In [127]:
import ast
for x in lst:
    mylist = ast.literal_eval(x)

In [129]:
mylist[0]

'Application_619403287'

In [145]:
candidates = ['Application_451341004',
 'Application_1405484331',
 'Application_1343107752',
 'Application_1034706502',
 'Application_209668210',
 'Application_1878767958',
 'Application_1788651940',
 'Application_1129416788',
 'Application_1744092101',
 'Application_592767974',
 'Application_1647108674',
 'Application_1919048321',
 'Application_398311287',
 'Application_2102558833',
 'Application_254178417',
 'Application_679723515']

In [146]:
week_gt =[20,24,29,49]

In [147]:
for c in candidates:
    for w in week_gt:
        if check(c,w) == True:
            print(f"with case {c}, week {w}, results check is {check(c, w)}")

with case Application_209668210, week 24, results check is True
with case Application_1878767958, week 20, results check is True
with case Application_1744092101, week 29, results check is True
with case Application_2102558833, week 49, results check is True